body {
	background: url('http://ristek.cs.ui.ac.id/img/bg.png');
}

.headline {
	text-align: center;
}

.login-btn {
	border: 0;
	border-radius: 0;
	background: #2F31A0;
}
	.login-btn:focus {
		background: #0F1168 !important;
	}

	.login-btn:hover {
		background: #4549CF !important;
	}

.quote {
	font-size: 1.6em;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.quote-row {
	margin-top: 240px;
}

.SIG-table {	
	border-spacing: 8px;	
}
	.SIG-table td {
		width: 148px;		
	}