@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
	font-family: Montserrat;
	src: url('http://ristek.cs.ui.ac.id/fonts/montserrat/Montserrat-Light.otf') format('opentype');
}

@font-face {
	font-family: Montserrat;
	font-weight: bold;
	src: url('http://ristek.cs.ui.ac.id/fonts/montserrat/Montserrat-Bold.otf') format('opentype');
}


body {
	padding-bottom: 52px;
}

header {
	background: url('http://ristek.cs.ui.ac.id/img/bg.png');
	padding: 8px;
}

footer {
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	height: auto;
	padding: 8px;
	margin-top: 24px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.info-content {
	font-size: 1.2em;
}

.panel-link:active {
	color: #FFFFFF !important;
}

.info-panel-heading {
	background-image: none;
	background-color: #2F31A0 !important;
}

.info-panel {
	border: 1px solid #2F31A0 !important;
}

.icon {
	color: #FFFFFF;
}

.btn-link {
	color: #2F31A0 !important;
}
	.btn-link:visited {
		color: #2F31A0 !important;
	}

	.btn-link:hover {
		color: #4549CF !important;
	}

	.btn-link:focus {
		color: #0F1168 !important;
	}

.btn-primary, .sso-btn:link {
	color: #FFFFFF !important;
	background-image: none !important;
	background-color: #2F31A0 !important;
	border: 1px solid #2F31A0 !important;
}
	.btn-primary:visited, .sso-btn:visited {
		color: #FFFFFF !important;
		background-image: none;
		background-color: #2F31A0 !important;
		border: 1px solid #2F31A0 !important;
	}

	.btn-primary:hover, .sso-btn:hover {
		color: #FFFFFF !important;
		background-image: none !important;
		background-color: #4549CF !important;
		border: 1px solid #2F31A0 !important;	
	}

	.btn-primary:focus, .sso-btn:focus {
		color: #FFFFFF !important;
		background-image: none !important;
		background-color: #0F1168 !important;
		border: 1px solid #2F31A0 !important;
	}

textarea {
	resize: none;
}

.container {
	height: 100%;
}

.ristek-color {
	color: #2F31A0;
}

.text-info {
	color: #2F31A0;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.page-title {
	font-size: 1.6em;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.head-font {
	font-family: 'Montserrat', Arial, sans-serif;
}

.content-font {
	font-family: 'Open Sans', serif;
}

.form-control {
	/*border-radius: 0 !important;*/
}