header {
	background: url('http://ristek.cs.ui.ac.id/img/bg.png');
}

header .page-title {
	font-size: 1em;
}

.logout-btn {
	border-radius: 0;
}

.head-left {
	position: relative;
	display: inline-block;
	float: left;
}

.head-right {
	position: relative;
	display: inline-block;
	float: right;
}

.headline {
	text-align: center;
}